.theme{
    .mat-slide-toggle-thumb{
        box-shadow: 1.5px 1.5px 4px 1.5px grey;
    }
    .mat-slide-toggle-content{
        font-family: Georgia, serif;
    }
}

.temprature{
    .mat-slide-toggle-thumb{
        box-shadow: 1.5px 1.5px 4px 1.5px grey;
    }
    .mat-slide-toggle-content{
        font-family: Georgia, serif;
    }
}

