<div class="search-frame">
    <input class="search-control" type="search" (blur)="onBlur()" (click)="onClick()" placeholder="Search location..." [(ngModel)]="searchText" (ngModelChange)="searchValueChange()">
    <mat-icon class="icon" *ngIf="!enterInput">search</mat-icon>
</div>
<div class="info-frame basic-border">
    <div class="row">
        <div class="current-weather basic-border box">
            {{cityName}}<br>
            {{currentWeather}}&#8451;
        </div>
        <div class="favorite-frame row" *ngIf="!isFavorite">
            <mat-icon class="favorite-icon">favorite_outline</mat-icon>
            <button class="favorite-button" (click)="addToFavorites()">Add to favorites</button>
        </div>
        <div class="favorite-frame row" *ngIf="isFavorite">
            <mat-icon class="favorite-icon">favorite</mat-icon>
            <button class="favorite-button" (click)="removeFromFavorites()">Remove from favorites</button>
        </div>
    </div>    
    <h1>Scattered clouds</h1>
    <div class="row day-card-frame">
        <div *ngFor="let item of weekWeather" class="day-card basic-border box">
            {{item.Date| date : 'EEE'}}<br>
            {{item.Temperature.Maximum.Value}}&#8451;
        </div>
    </div>
</div>

