@import 'src/styles/helpers';

@media screen and (orientation: landscape) { 
    .favorite-frame{
        margin-left: 370px;
        margin-top: 10px;
    }
    .info-frame{
        width: 700px;
        border: 1px solid black;
    }
    .day-card-frame{
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }
    .day-card{
        height: 100px;
        width: 100px;
    }
}

@media screen and (max-width: 768px) {
    .favorite-frame{
        margin-top: 10px;
    } 
    .info-frame{
        flex-direction: column;
        width:100%;
        display: flex;
    }
    .day-card-frame{
        margin:auto;
    }
    .day-card{
        height: 120px;
        font-size: 20px;
        width: 150px;
    }
}

.favorite-button{
    width: 160px;
    height: 25px;
}

.favorite-icon{
    font-size: 14px;
}

.search-frame {
    margin-top: 15px;
    margin-bottom: 15px;
}

.search-control {
    border-radius: 2px;
    height: 25px;
    padding: 15px;
    width: 300px;
    text-align: center;
}

.search-control::placeholder {                   
    text-align: center;
    margin-left: 120px;
    color: black;
}

.icon{
    width: 2px;
    position: relative;
    right: 290px;
    font-size: 20px;
    cursor: pointer;
    color: black;
    vertical-align: middle;
}

.info-frame{
    height: 500px;
}

.current-weather{
    margin: 10px 0px 0px 10px;
    line-height: 2;
}

h1{
    font-family: "Rockwell", "Courier New", monospace;
}

.day-card{
    margin: 5px;
    line-height: 2;
}




