@import 'src/styles/helpers';
@import 'src/styles/angular-materials';

@media screen and (orientation: landscape) { 
    #grid{
        display: grid;
        grid-template-rows: 10% 90%;
        height: 800px;
    }   
    .page{
        border: 1px solid black;
    } 
}

@media screen and (max-width: 768px) {
    #grid{
        width:100%;
        overflow: scroll;
    }
    .page{
        height: 720px;
    } 
}

#header{
    display: flex;
}

.page{
    text-align: center;    
}

.buttons{
    width: 50%;
    text-align: right;
    margin-top:5px;
    margin-right: 10px;
}

.menu-button{
    width: 70px;
    padding: 3px;
}

.menu-button:focus{
   background-color: grey;
}

label{
    margin: auto;
    width: 50%;
    margin-left:10px;
}







